.filter-input {
  border-color: rgb(177, 173, 173);
  width: 350px;
  height: 30px;
  border-radius: 20px;
}
.filter-label {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  gap: 15px;
  font-size: 25px;
}
