.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
  padding: 10px;
  border: 1px solid black;
  margin-left: 30px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-label {
  font-size: 30px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.form-input {
  border-color: rgb(177, 173, 173);
  width: 450px;
  height: 30px;
  border-radius: 20px;
}
.form-button {
  border-color: rgb(188, 182, 182);
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
.form-button:hover {
  cursor: pointer;
  background-color: blue;
}
